/* Portfolio Custom Stylesheet 
 * Author: AriaRay Brown 
 * Date: 6/2019 
 */

/***********************/
/* FONTS & STYLESHEETS */
/***********************/

 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
 @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

 @import url("reset.css");
 /*@import url("bootstrap-snippets.css");*/

/**************************************/
/* SITE CONSTANTS (in progress study) */
/* e.g. color: var(--main-txt-color)       */
/**************************************/

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --h1-font: 'Fredericka the Great', sans-serif;
  --p-font: 'Open Sans', sans-serif;
}

/***************/
/* MAIN LAYOUT */
/***************/

*, ::after, ::before {
    box-sizing: border-box;
}

a:link {}

a:visited {}

a:hover {}

a:active {}

a.nameLink {
  color: white;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 57px;
  text-decoration: none; 
}

body {
  /*background: linear-gradient(126deg, rgba(199, 92, 0, 0.25), #ff9237);*/
  font-family: 'Open Sans', sans-serif;
}

div.content {}

footer {
  background: #464040;
  color: #eee;
  font-family: var(--h1-font);
  font-size: .75em;
  padding: 3em; 
}

h1#name {
  text-shadow: -2px 6px 9px rgb(107, 107, 107);
}

header {
  background: #91ab77;
  background-image: url(../images/starry.png);
  background-position: center -58px;  
  background-size: cover;
  -webkit-box-shadow: 0px -2px 6px 3px rgba(0,0,0,0.35);
  box-shadow: 0px -2px 6px 3px rgba(0,0,0,0.35);
  /*position: sticky;*/
  top: 0;
  z-index: 1000;
}

main {
	margin: 2em;
	transition: all 300ms ease-in-out;
}

#mainPage {
  font-size: 24px;
  padding: 2em;
}

p#copyright {text-align: center;}


ul#subtitles li {
  display: inline;
  font-style: italic;
}


/**************/
/* NAVIGATION */
/**************/

.active, .mobileNavToggle:hover {
    opacity: 0.5;
}

.collapsible {
    /*position: absolute;
    top: 10px;
    right: 20px;*/

    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    line-height: normal;
    align-self: center;
    z-index: 98;
    width: 40px;
    height: 40px;
    padding: 0;
    outline: 0;
}

.collapsibleContent {
    word-wrap: break-word;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s cubic-bezier(0.39, 0.58, 0.57, 1);
}

/*.mainNav {
  list-style-type: none;
  display: none;
}

.mainNav li {
  text-align: center;
  margin: 15px auto;
}*/

#headerLogo {
	font-size: 1.2em;
	font-family: var(--h1-font);
	color: #ffffff;
	/*color: #463f3f;
	background-image: url(../images/medina-color1.jpg);
	background-size: contain;
 	background-position: center;
	background-color: #1f0401;
	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;*/
}

.headerLogoContainer {
  display: inline-block;
  margin: 1em .75em;
  width: calc(100% - 40px);
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.mobileNav.active {
 	font-size: 2em;
 	padding: 1em;
 	text-align: center;
}

.mainNav, .mobileNav {
}

.mainNav {
 	display: none;
}

.mobileNav {
  position: absolute;
  background: #464040;
  width: 100%;
  text-align: center;
  top: 4.25em;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
}

.mobileNav li {
	padding: 1.5em;
	font-size: 1.2em;
  font-family: var(--h1-font);
  letter-spacing: 2px;
}

.navBar {
}

.mobileNavToggle {
  color: #ffffff;
  display: inline-block;
  font-size: 1.2em;
  margin: .75em;
  text-shadow: 0px 2px 5px #343a40;  
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.navContent {
}

.navLinks,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

/*************/
/* SUBHEADER */
/*************/

#subHeader {
	margin-bottom: 2em;
}

#subHeaderName {
    background-image: url(../images/medina-color1.jpg);
    background-size: contain;
    background-position: center;
    background-color: #1f0401;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 0 .5em 1.2em .5em;
    font-family: var(--h1-font);
    letter-spacing: 2.5px;
    color: #463f3f;
}

#subHeaderName:hover {
}

.miniAbout {
    margin: 0 auto;
    margin-bottom: .5em;
    margin-top: .5em;
}

.miniAbout:hover { 
}

.miniAbout p {
	text-align: center;
    font-size: .8em;
    letter-spacing: 1px;
    line-height: 1.7;
    padding: 0 10px;
}

.miniAbout b {
    font-family: var(--h1-font);
}

.iconsNav {
	margin: 0 auto;
}

.iconsNavList {
	margin: 0 auto;
	width:	75%;
	text-align: center;
}

.iconsNavList li {
	display: inline-block;
	margin: 0 auto;
	text-align:	center;
	text-shadow: 0px 3px 3px #463f3f69;
	padding: 5px;
}

.iconsNavList li:hover {
	border-radius: 50px;
}

.iconsNavList li:nth-child(1):hover { background-color: #c6726659; }
.iconsNavList li:nth-child(2):hover { background-color: #be864a45; }
.iconsNavList li:nth-child(3):hover { background-color: #6c724b33; }
.iconsNavList li:nth-child(4):hover { background-color: #5d676940; }

a.iconLink:link {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
    letter-spacing: 1.5px;

}
a.iconLink:visited {

}
a.iconLink:hover {

}
a.iconLink:active {

}

.overlay {
	position: absolute;
	top: 83px;
	bottom: 0;
	left: 0;
	right: 0;
	height: 9%;
	opacity: 0;
	transition: all 1s ease;
	background-color: #ffffff;
}

#subHeader:hover .overlay {
    opacity: 1;
}



/*************************************/
/* STYLE CLASSES                     */
/* (use class name to style element) */
/*************************************/

.flexBox {
  display: flex;
  flex-wrap: nowrap;
}


/***********************************/
/* RESPONSIVE LAYOUT MEDIA QUERIES */
/*      (mobile-first design)      */
/***********************************/

/* Default for small mobile devices */
[class*="col-"] {
    width: 100%;
}

/* For small devices and up */
@media only screen and (min-width: 600px) {
	#subHeaderName {font-size: 3em; padding-bottom: .5em;}
	.overlay{top:100px;}
}

/* For medium devices and up */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .overlay{}
}

/* For large devices and up */
@media only screen and (min-width: 992px) {
	.overlay{}
}

/* For extra large devices and up*/
@media only screen and (min-width: 1200px) {
	.overlay{}
}






