/* Portfolio Custom Stylesheet 
 * Author: AriaRay Brown 
 * Date: 6/2019 
 */

/***********************/
/* FONTS & STYLESHEETS */
/***********************/

 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
 @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

 @import url("reset.css");
 /*@import url("bootstrap-snippets.css");*/

/**************************************/
/* SITE CONSTANTS (in progress study) */
/* e.g. color: var(--main-txt-color)       */
/**************************************/

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --h1-font: 'Fredericka the Great', sans-serif;
  --p-font: 'Open Sans', sans-serif;
}

/***************/
/* MAIN LAYOUT */
/***************/

*, ::after, ::before {
    box-sizing: border-box;
}

a:link {}

a:visited {}

a:hover {}

a:active {}

a.nameLink {
  color: white;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 57px;
  text-decoration: none; 
}

body {
  /*background: linear-gradient(126deg, rgba(199, 92, 0, 0.25), #ff9237);*/
  font-family: 'Open Sans', sans-serif;
}

div.content {}

footer {
  background: #464040;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.35);
  color: #eee;
  font-family: var(--h1-font);
  font-size: .75em;
  padding: 1em; 
}

h1#name {
  text-shadow: -2px 6px 9px rgb(107, 107, 107);
}

header {
  background: #91ab77;
  background-image: url(../images/medina-color1.jpg);
  background-position: center -14px;  background-size: cover;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  transition: all 300ms ease-in-out;
}

#mainPage {
  font-size: 24px;
  padding: 2em;
}

p#copyright {text-align: center;}


ul#subtitles li {
  display: inline;
  font-style: italic;
}


/**************/
/* NAVIGATION */
/**************/

.active, .mobileNavToggle:hover {
    opacity: 0.5;
}

.collapsible {
    /*position: absolute;
    top: 10px;
    right: 20px;*/

    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    line-height: normal;
    align-self: center;
    z-index: 98;
    width: 40px;
    height: 40px;
    padding: 0;
    outline: 0;
}

.collapsibleContent {
    word-wrap: break-word;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s cubic-bezier(0.39, 0.58, 0.57, 1);
}

/*.mainNav {
  list-style-type: none;
  display: none;
}

.mainNav li {
  text-align: center;
  margin: 15px auto;
}*/

#headerLogo {
 	color: #ffffff;
  font-size: 1.2em;
  font-family: 'Fredericka the Great';
}

.headerLogoContainer {
  display: inline-block;
  margin: 10px;
  width: calc(100% - 40px);
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.mobileNav.active {
 	font-size: 2em;
 	padding: 1em;
 	text-align: center;
}

.mainNav, .mobileNav {
}

.mainNav {
 	display: none;
}

.mobileNav {
  position: absolute;
  background: #464040;
  width: 100%;
  text-align: center;
}

.mobileNav li {
	padding: 1.5em;
	font-size: 1.5em;
}

.navBar {
}

.mobileNavToggle {
  color: #ffffff;
  display: inline-block;
  font-size: 1.2em;
  margin: 5px;
  text-shadow: 0px 1px 3px #343a40;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.navContent {
}

.navLinks,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

/*************************************/
/* STYLE CLASSES                     */
/* (use class name to style element) */
/*************************************/

.flexBox {
  display: flex;
  flex-wrap: nowrap;
}


/***********************************/
/* RESPONSIVE LAYOUT MEDIA QUERIES */
/***********************************/

/* Default for small mobile devices */
[class*="col-"] {
    width: 100%;
}

/* For small devices and up */
@media only screen and (min-width: 600px) {
}

/* For medium devices and up */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* For large devices and up */
@media only screen and (min-width: 992px) {
}

/* For extra large devices and up*/
@media only screen and (min-width: 1200px) {
}






