/* Portfolio Custom Stylesheet 
 * Author: AriaRay Brown 
 * Date: 6/2019 
 */

/***********************/
/* FONTS & STYLESHEETS */
/***********************/

 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre');
 @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Cardo|Sacramento&display=swap');

 @import url("reset.css");

/**************************************/
/* SITE CONSTANTS (in progress study) */
/* e.g. color: var(--main-txt-color)       */
/**************************************/

:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --title-font: 'Fredericka the Great', serif;
  --p-font: 'Open Sans', sans-serif;
  --font-serif: 'Cardo', serif;
  --font3: 'Sacramento', cursive;
}

/***************/
/* MAIN LAYOUT */
/***************/

html {
  scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
}

*, ::after, ::before {
    box-sizing: border-box;
}

a:link { color: black }

a:visited {}

a:hover {}

a:active { color: #9fa6b0; }

a.nameLink {
  color: white;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 57px;
  text-decoration: none; 
}

b.keyInfo { font-weight: bold; }

body {
  /*background: linear-gradient(126deg, rgba(199, 92, 0, 0.25), #ff9237);*/
  font-family: 'Open Sans', sans-serif;
}

button#toTop {
  position: fixed;
  background-color: #f0f0f0;
  cursor: pointer;
  border: inherit;
  font-size: 3em;
  color: #3d675d;
  bottom: 1em;
  height: 50px;
  width: 50px;
  line-height: 45px;
  border-radius: 50px;
  right: 15px;
}

div.content {}

h1#name {
  text-shadow: -2px 6px 9px rgb(107, 107, 107);
}

h2 {
  font-weight: bold;
  font-size: 4em;
}

h2 a:link {
  text-decoration: none;
  color: inherit;
}
h2 a:visited {
  color: inherit;
}

h3 {
  font-size: 3em;
}

h4 {
  text-decoration: none;
  font-family: var(--title-font);
  margin: .5em auto;
  font-size: 1.5em;
}

header {
  background: #ffff;
  /* background-image: url(../media/starry.png); */
  background-position: center -58px;
  background-size: cover;
  /* -webkit-box-shadow: 3px -1px 3px 0px rgba(0, 0, 0, 0.25); */
  /* box-shadow: 3px -1px 3px 0px rgba(0, 0, 0, 0.25); */
  position: sticky;
  top: 0;
  z-index: 1000;
}

i { font-style: italic; }

main {
	transition: all 300ms ease-in-out;
  max-width: 900px;
  margin: 0 auto;
}

#mainPage {
  font-size: 24px;
  padding: 2em;
}

main#index section:not(#subHeader) {
  margin: 0 3vw 7vw;
  padding: 2vw;
  color: white;
}

main#index section {
  transition: all .8s ease-in-out;
}

p#copyright {text-align: center;}

p {
  margin-bottom: 1em;
  line-height: 1.5em;
}

button#toTop a {
  color: #3d675d;
}
button#toTop a:visited {
  color: inherit;
}

section {
  background-color: #609DA0;
  padding: 1em;
  margin: 7vw 5vw;
  color: #f9f9f9;
}

section a:link {  }

section a:visited { color: #fffcfcb8; text-decoration: none; }

section a:hover { color: #fffcfcb8; }


/**************/
/* NAVIGATION */
/**************/

.active, .mobileNavToggle:hover {
    opacity: 0.5;
}

.collapsible {
    /*position: absolute;
    top: 10px;
    right: 20px;*/

    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    background: none;
    line-height: normal;
    align-self: center;
    z-index: 98;
    width: 40px;
    height: 40px;
    padding: 0;
    outline: 0;
}

.collapsibleContent {
    word-wrap: break-word;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s cubic-bezier(0.39, 0.58, 0.57, 1);
}

#headerLogo {
	font-size: 1.2em;
	font-family: var(--title-font);
	color: #000000;
}

#headerLogo a {
  text-decoration: none;
  color: inherit;
}

.headerLogoContainer {
  display: inline-block;
  margin: 1em .75em;
  width: calc(100% - 40px);
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.mobileNav.active {
 	font-size: 2em;
 	padding: 1em;
 	text-align: center;
}

.mainNav, .mobileNav {
}

.mainNav {
 	display: none;
}

.mobileNav {
  /*position: absolute;
  background: #000008e8;
  width: 100%;
  text-align: center;
  top: 4.25em;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
  z-index: 10;*/
  position: absolute;
  background-color: #000000e3;
  width: 294px;
  background-image: url(../media/cookie.jpg);
  background-position: center;
  text-align: center;
  top: 25%;
  transform: rotate(9deg);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.35);
  z-index: 10;
  right: 5px;
  border-radius: 50%;
}

.mobileNav li {
	padding: 1.5em;
	font-size: 1em;
  letter-spacing: 0.15em;
}

.navBar {
  padding: .5em 1em;
}

.mobileNavToggle {
  color: #000001;
  display: inline-block;
  font-size: 1.2em;
  /* margin: .75em; */
  text-shadow: 0px 2px 3px #343a407a;
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
}

.navContent {
}

.navLinks,
.logo {
  text-decoration: none;
  /*color: rgba(255, 255, 255, 0.7);*/
  color: rgba(0, 0, 0, 0.7);
  background: #ffffffd6;
  font-weight: bold;
}

a.navLinks:link {
  color: rgba(0, 0, 0, 0.7);
}

/*************/
/* SUBHEADER */
/*************/

a.iconLink:link {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
    letter-spacing: 1.5px;

}
a.iconLink:visited {

}
a.iconLink:hover {

}
a.iconLink:active {

}

.miniAbout {
    margin: 0 auto;
    margin-bottom: .5em;
    margin-top: .5em;
}

.miniAbout:hover { 
}

.miniAbout p {
	text-align: center;
    font-size: .8em;
    letter-spacing: 1px;
    line-height: 1.7;
    padding: 0 10px;
}

.miniAbout b {
    font-family: var(--title-font);
}

.iconsNav {
	margin: 0 auto;
}

.iconsNavList {
	margin: 0 auto;
	width:	75%;
	text-align: center;
}

.iconsNavList li {
	display: inline-block;
	margin: 0 auto;
	text-align:	center;
  border-radius: 50px;
	text-shadow: 0px 3px 3px #463f3f69;
	padding: 5px;
  transition: background-color 1s;
}

.iconsNavList li:hover {
}

.iconsNavList li:nth-child(1):hover { background-color: #c6726659; }
.iconsNavList li:nth-child(2):hover { background-color: #be864a45; }
.iconsNavList li:nth-child(3):hover { background-color: #6c724b33; }
.iconsNavList li:nth-child(4):hover { background-color: #5d676940; }

.iconsNavList img {
  transition: transform .7s cubic-bezier(0.2, 0, 0.5, 1.4);
}

.iconsNavList img:hover {
  transform: translate(15px, 0px) rotate(15deg);
}

.overlay {
	position: absolute;
	top: 57px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8%;
	opacity: 0;
	transition: all 1s ease;
	background-color: inherit;
  color: #463f3f;
}

#subHeader {
	padding: 2em;
  margin: 0;
  background-color: white;
}

#subtitles:hover + .overlay {
  opacity: 1;
}

#subHeaderName {
    background-image: url(../media/medina-color1.jpg);
    background-size: contain;
    background-position: center;
    background-color: #1f0401;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    padding: 0 .5em .2em .5em;
    font-family: var(--title-font);
    letter-spacing: 2.5px;
    color: #463f3f;
}

#subHeaderName:hover {
}

ul#subtitles {
  text-align: center;
  margin: .25em 0 .5em;
}

ul#subtitles li {
  color: #4c4c4c;
  display: inline;
  font-style: italic;
	font-size: 1em;
	padding: .25em;
}

@media only screen and (max-width: 360px) {
	#subHeaderName {font-size: 1.6em;}
	.overlay{top: 60px; height: 12%; font-size: .9em;}
	ul#subtitles li{font-size: 1em;}
	.iconsNavList li {padding: 0;}
}
@media only screen and (min-width: 600px) {
	#subHeaderName {font-size: 3.5em;}
	.overlay{top:83px;}
	ul#subtitles li{font-size: 1.5em;}
  ul#subtitles {margin-bottom: 1.5em;}
}
@media only screen and (min-width: 768px) {
	#subHeaderName {font-size: 5em;}
	#subHeader .miniAbout {width: 90%; font-size: 1.3em; height: 14%;}
}
@media only screen and (min-width: 992px) {
	#subHeader .miniAbout {width: 65%; top: 89px; height: 12%;}
}
@media only screen and (min-width: 1200px) {
	#subHeader .miniAbout {width: 50%; height: 11%;}
}


/************************/
/*   PROJECT GALLERIES  */
/************************/

section#projects { 
  margin: 0 5vw;
  transition: 400ms ease-in;
  background-color: #5f9ea0; 
}

#projects > article {
    margin: 5vw 0;
}

.container.gallery {
  margin-top: 1em;
}

.galleryRow [class^="col"] {
    text-align: center;
    padding: 0.25rem;
}

.imgThumbnail {
  background-color: inherit;
  height: auto;
  max-width: 100%;
}

@media (max-width: 992px) {
  .galleryRow .lastOdd-md {
    
  }
}

/***************/
/*    ABOUT    */
/***************/

section#about {
  background-color: #6e7d5f;
  padding: 1em;
  margin: 7vw 5vw;
  color: #f9f9f9;
}

/******************/
/*    PROJECTS    */
/******************/

article#theProject {
  padding: 5vw;
  margin: 0 auto;
  max-width: 800px;
}

.project h1 {
  font-family: var(--title-font);
  font-size: 2em;
  text-align: center;
  font-variant: all-small-caps;
  letter-spacing: 10px;
  margin-bottom: .5em;
  line-height: .75em;
}

.project h2 {
  font-size: 1.5em;
  line-height: 2em;
}

.project p {
  padding-bottom: .5em;
}

#projectHeader {
  margin-bottom: 1.5em;
}


@media only screen and (min-width: 768px) {
  .project h1 { font-size: 3em; }
  .project h2 { font-size: 2.5em; }
}

#forFunHeading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#forFunToggle {
  margin: auto 5vw;
  margin-bottom: 0.75em;
  transition: all 1s ease;
}

#forFunToggle:hover {
  letter-spacing: 3px;
  transition: all 2s ease;
} 

#forFunGallery {

}

/**********************/
/*    PUBLICATIONS    */
/**********************/

section#publications {
  background-color: #af5c29;
}

/****************/
/*    SKILLS    */
/****************/

section#skills {
  background-color: #773030;
}

ul.skillList {
  margin-bottom: 1.5em
}

ul.skillList li {
  transition: all 300ms ease-out;
}

ul.skillList li:hover {
  font-weight: bolder;
  letter-spacing: 1px;
}

span.skillDetail {
  font-size: .75em;
  font-style: italic;
  margin: 0 .5em;
}

.skillListAll h4 {
  letter-spacing: 2px;
}

/*****************/
/*    CONTACT    */
/*****************/

section#contact {
  background-color: #3d675d;
}

button.submit {
  font: inherit;
  color: #3d675d;
  background: #ffffff;
  font-weight: bold;
  padding: .2em .5em;
  display: inline-block;
  border: none;
  margin: 0;
  vertical-align: text-top;
  transform: translateX(15%);
}

button.submit:focus {
  outline-color: #ffffffa1;
  outline-style: dotted;
  outline-width: 4px;
}

form {
  margin: .5em auto;
}

form label {
  margin: .5em .5em .5em auto;
  display: inline-block;
}

form label textarea {
  vertical-align: text-top;
  font-size: .75em;
  font-family: var(--p-font);
  padding: .5em;
}

/****************/
/*    FOOTER    */
/****************/

footer {
  background: #0000010f;
  color: #a7a7a7;
  padding: 3em; 
}

ul#social {
  display: inline-flex;
  margin: 0 auto 2em;
  width: 100%;
  justify-content: center;
}

li.socialIcon {
  margin: 0 2vw;
}

a[class^="iconSocial"]:link {
  text-decoration: none;
  color: inherit;
  transition: color .3s ease-in-out;
}

a[class^="iconSocial"]:visited {
  color: inherit;
}

a[class^="iconSocial"]:hover {
  color: #0b7b7b;
}


/*************************************/
/* STYLE CLASSES                     */
/* (use class name to style element) */
/*************************************/

.flexBox {
  display: flex;
  flex-wrap: nowrap;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

.textLeft {text-align: left;}
.textRight {text-align: right;}

.bgColor {background-color: #5f9ea0;}

.bold {font-weight: bold;}

span.highlight {
  font-weight: bold;
}

.fontSerif { font-family: var(--font-serif); }

.readMore { 
    max-height: 78px;
    overflow: hidden; 
    transition: all 1s;
  }
.open { max-height: fit-content; transition: all 1s; }

.italic { font-style: italic; }



/***********************************/
/* RESPONSIVE LAYOUT MEDIA QUERIES */
/*      (mobile-first design)      */
/***********************************/

/* Default for small mobile devices */
[class*="col-"] {
    width: 100%;
}

/* For small devices and up */
@media only screen and (min-width: 600px) {
}

/* For medium devices and up */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* For large devices and up */
@media only screen and (min-width: 992px) {
}

/* For extra large devices and up*/
@media only screen and (min-width: 1200px) {
}






